.rounded-tag {
  border-radius: 20px;
  padding: 2px 15px;
  //   font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  margin: auto 5px;
  cursor: pointer;
  height: fit-content;
  text-align: center;
  justify-items: center;
  width: max-content;
}
